p {
    size: 30px;
    color: green;
    text-align: center;
    
}
h1 {
    size: 40px;
    padding: 10px;
    text-align: center;
    background: red;

}

div {
    height: 100px;
    width: 100%;
    background: #dddd;

}
div h1 {
    color: white;
    text-align: left;
}